@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}

#header {
    display: inline;
}
#h1 {
    font-family: 'Roboto', sans-serif;

}